body {
    background-color: #1B2430;
    color: white;
    padding: 2em;
    font-family: Verdana, sans-serif;
}

.title {
    color: white !important;
    font-weight: 600;
}

a {
  text-decoration: none; 
  color: #816797;
}

a:hover {
  text-decoration: underline; 
}

.center-align {
    text-align: center;
}

.page-title {
    font-size: 1.4em;
    font-weight: 600;
}

.footer {
    padding-top: 2em;
}

.date {
    font-size: 1em;
    font-family: Consolas, "Courier New", monospace;
    color: #51557E;
}

@media (min-width: 1200px) {
    .container{
        max-width: 50%;
    }
}
